<div class="loginStatus">
    <span class="status">Hey {{username}}</span>
    <label ng-show="login"> | </label>
    <a ng-show="login" ng-click="mainCtrl.logout()" href="#!/home">Logout</a>
</div>

<h2>About</h2>

<p class="pAbout">We are chen nachmani and shahar barel enjoied this task. we learn alot about how angular works and we
had alot of struggles during this task. We want to share with you our past projects:
    <br>
    <br>
    1. <a href="https://shahar.000webhostapp.com/shahar.html"> Pacman project</a>
</p>
